/*
 * CHAT STYLES
 * * * * * * * * */
#chat p {
	margin: 0;
}
#chat * {
	box-sizing: border-box;
}
#chat a {
	color: #fff;
	position: relative;
	text-decoration: none;
	transition: width 0.3s;
}
#chat a:before {
	background-color: #fff;
	bottom: -2px;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	transition: width 0.256s;
	width: 0px;
}
#chat a:hover:before {
	width: 100%;
}
/* HEADER */
#chat {
	background-color: #fff;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	height: 100%;
	position: relative;
	width: 100%;
}
#header {
	background-color: #f00;
	-webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
			box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
	padding: 10px 10px;
	position: relative;
	width: 100%;
	z-index: 10;
}
#header:after {
	clear: both;
	content: '';
	display: block;
	height: 0;
}
#header p {
	color: white;
}
#header>div {
	display: inline-block;
}
#header .left {
	float: left;
	height: 25px;
}
#header .right {
	float: right;
	margin-left: 10px;
}
#header .right select {
	background-color: white;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.1);
	   -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.1);
			box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.1);
	outline: none;
	padding: 3px 5px;
}
/* MESSAGES */
#messages {
	height: 475px;
	overflow-y: scroll;
	padding-bottom: 15px;
	padding-top: 5px;
	width: 100%;
}
#messages ul {
	list-style-type: none;
	margin: 0 10px;
	padding: 0;
}
#messages ul li {
	box-shadow: 0 0 5px 0 #eee;
	border-radius: 5px;
	margin: 5px 0 0;
	padding: 10px;
	position: relative;
}
#messages ul li .timestamp {
	font-size: 10px;
	position: absolute;
	right: 15px;
	top: 5px;
}
#messages ul li .owner {
	font-size: 12px;
	font-weight: 600;
	left: 10px;
	position: absolute;
	top: 5px;
}
.message {
	word-wrap: break-word;
}
#messages ul li:not(.message-master) .message {
	margin-top: 10px;
}

#messages ul .message-master {
	background-color: #fbd2d0;
	float: left;
	width: 100%;
}
#messages ul .message-other {
	background-color: #f68f89;
	float: left;
	width: 60%;
}
#messages ul .message-other:after {
	border-bottom: 5px solid transparent;
	border-left: none;
	border-right: 10px solid #f68f89;
	border-top: 10px solid transparent;
	bottom: 10px;
	content: "";
	height: 0px;
	left: -10px;
	position: absolute;
	width: 0px;
}
#messages ul .message-own {
	background-color: #f26259;
	width: 60%;
	float: right;
}
#messages ul .message-own:after {
	border-bottom: 5px solid transparent;
	border-left: 10px solid #f26259;
	border-right: none;
	border-top: 10px solid transparent;
	bottom: 10px;
	content: "";
	height: 0;
	position: absolute;
	right: -10px;
	width: 0;
}

#sendmessage {
	background-color: green;
	bottom: -5px;
	-webkit-box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.1);
			box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.1);
	height: 80px;
	position: absolute;
	width: 100%;
}
#sendmessage textarea {
	background-color: white;
	border: none;
	color: red;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 100%;
	letter-spacing: 0.3px;
	outline: none;
	resize: none;
	transition: background-color .3s;
	width: calc(100% - 80px);
}
#sendmessage textarea:focus {
	background-color: #ffeeee;
}
#sendmessage textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ffaaaa;
}
#sendmessage textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #ffaaaa;
	opacity: 1;
}
#sendmessage textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #ffaaaa;
	opacity: 1;
}
#sendmessage textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #ffaaaa;
}
#sendmessage button {
	background-color: red;
	border: none;
	color: white;
	font-size: 28px;
	height: 100%;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.1s;
	width: 80px;
}
#sendmessage button:active {
	background-color: white;
	color: red;
}
#sendmessage button span.text {
	font-size: 18px;
}

/* SCROLLBAR
 *
 * Custom scrollbar (webkit for chrome, safari and opera)
 * NOTE: webkit is NOT supported in IE and Firefox,
 * only works in chrome, safari and opera
 * * * * * * * * * * * * * * * * * * * * * * */
#messages::-webkit-scrollbar {
    width: 8px;
}
#messages::-webkit-scrollbar-button {
    height:5px;
    width: 8px;
}
#messages::-webkit-scrollbar-track {
    background-color: #fde9e7;
    border: thin solid #fbd2d0;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #dfdfdf inset;
}
#messages::-webkit-scrollbar-thumb {
    background-color: #ee362a;
    border: thin solid #ee362a;
    border-radius: 10px;
}
#messages::-webkit-scrollbar-thumb:hover {
    background-color: #ec2013;
    border-color: #ec2013;
}
#messages::-webkit-scrollbar-thumb:active {
	background-color: #d51d11;
	border-color: #d51d11;
}

/* CHAT WRAPPER */
#chatwrapper {
	position: fixed;
	right: 10px;
	bottom: 0;
	border: 5px solid #888;
	width: 400px;
	height: 650px;
	overflow: hidden;
}
#chatwrapper #chatheader {
	width: 100%;
	background-color: #888;
}
#chatwrapper #chatheader p {
	margin: 0;
	padding: 10px;
	display: inline-block;
	font-size: 1.4em;
}
#chatwrapper #chatheader p#collapse {
	float: right;
}

/* CHAT SCENES */
#chat-scene-wrapper {
	position: relative;
	display: block;
}
.chat-scene {
	height: 600px;
	width: 400px;
	position: absolute;
	left: 0;
}
#chat-scene-2 {
	left:400px;
}

#list_rooms {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#list_rooms p,
#list_rooms a {
	color: #000;
}
