/*
 * DROPDOWN STYLES
 * * * * * * * * * * */
.dropdown {
	margin-bottom: 2rem;
}
.dropdown-title {
	background-color: #ed1e12;
	color: #fff;
	cursor: pointer;
	font-size: 3rem;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropdown-title::after {
	clear: both;
}
.dropdown-title.dropdown-dynamic:hover {
	background-color: #d51b10;
}
.dropdown-content>ul {
    /* Gebruik van max-height zodat de hoogte geanimeerd kan worden */
    /* Zet naar een value hoger dan het element ooit zal worden */
	max-height: 1000px;
	transition: max-height 0.5s ease-in;
}
.dropdown-content>ul.is-hiding {
	max-height: 0px;
	transition: max-height 0.5s ease-out;
}
.dropdown-content>ul li {
	background-color: #fff;
	overflow: auto;
	padding: 0.5rem;
}
.dropdown-content>ul li:nth-child(even) {
	background-color: #f6f6f6;
}
.dropdown-content>ul li p,
.dropdown-content>ul li a {
    font-size: 2rem;
    margin-bottom: 0;
}
.dropdown-content>ul li a {
	text-decoration: none;
}
.dropdown-content>ul li a:nth-child(1) {
	float: left;
	width: 60%;
}
.dropdown-content>ul li a:nth-child(2) {
	float: right;
	padding-left: 1rem;
	text-align: right;
	width: 40%;
}
