#profiel_section {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
#profiel_section h2:nth-child(1) {
	margin-top: 0;
}
#profiel_section img {
	border: 3px solid #ed1e12;
}
#planning {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	width: 100%;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
}
#planning th,
#planning td {
	width: 20%;
	padding: 1rem;
	color: #f6f6f6;
}
#planning th {
	background-color: #f26259;
}
#planning td {
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
}
#planning td.beschikbaar {
	background-color: #9cf259;
}
#planning td:not(.beschikbaar):hover {
	background-color: #e3fbd0;
}
#planning tr:nth-child(1) th {
	background-color: #ed1e12;
	text-align: center;
}
@media screen and (max-width: 410px) {
	#planning tr>th:nth-child(1) span {
		display: none;
	}
	#planning {
		font-size: 80%;
	}
}