/*
 * INPUT STYLES
 * * * * * * * * * * */
/* Bijna alles is !important */
/* Dit is omdat de selector heel generiek is, en de bootstrap styles override moeten worden */
input:not([type="checkbox"]),
textarea {
	border-radius: 0 !important;
	font-size: 2rem !important;
	margin-bottom: 0.5rem;
	padding: 3rem !important;
	position: relative;
}
textarea {
	padding: 1rem 3rem !important;
	resize: none;
	width: 100%;
}
input[type="text"] {
	text-overflow: ellipsis;
}
select,
input,
textarea,
.form-control {
    box-shadow: none !important;
    outline: 0 !important;
}
input:not([type="checkbox"]).form-fail,
input:not([type="checkbox"]).form.fail:focus,
textarea.form-fail,
textarea.form-fail:focus,
select.form-fail,
select.form-fail:focus,
.input-group>.file-caption.form-fail,
.input-group>.file-caption.form-fail:focus {
    border: 1px solid red;
    border-color: red !important;
    color: red;
}
input:not([type="checkbox"]).form-success,
input:not([type="checkbox"]).form-success:focus,
textarea.form-success,
textarea.form-success:focus,
select.form-success,
select.form-succes:focus,
.input-group>.file-caption.form-success,
.input-group>.file-caption.form-success:focus {
    border: 1px solid green;
    border-color: green !important;
    color: green;
}
.file-caption {
    border-right-width: 2px !important;
}
.form-control:not(.form-success):not(.form-fail) {
    border-color: transparent;
}
select[id*="input"],
select[id*="select"] {
	border-radius: 0;
	font-size: 24px;
	min-height: 60px;
	padding: 12px;
}
.form-group {
    margin-bottom: 5px;
}

/*
 * FILEINPUT.JS STYLES
 * * * * * * * * * * */
.file-input {
	margin-bottom: 0.5rem;
}
.file-input .file-caption,
.file-input .input-group-btn .btn {
	border-radius: 0;
	min-height: 60px;
	padding: 18px;
}
.file-input .btn-file,
.file-input .btn-file:active {
	background-color: #ed1e12;
}
.file-input .btn-file:hover {
	background-color: #d51b10;
}

/*
 * CUSTOM BUTTON STYLES
 * * * * * * * * * * */
.btn.btn-custom,
.btn.btn-custom2,
.btn.btn-custom:focus,
.btn.btn-custom2:focus {
	background-color: #ed1e12;
	border-radius: 0;
	color: #fff;
	margin-bottom: 0.5rem;
	outline: none;
	padding: 12px;
	overflow: hidden;
}
.btn.btn-custom:hover,
.btn.btn-custom2:hover {
	background-color: #d51b10;
}
.btn.btn-custom {
	font-size: 24px;
}
.btn.btn-custom2 {
	font-size: 16px;
}

/*
 * CHECKBOX STYLES
 * * * * * * * * * * */
input[type='checkbox'] {
	display: none;
}
input[type='checkbox'] + span {
	background-color: #fff;
	border: 1px solid #000;
	display: inline-block;
	height: 30px;
	position: absolute;
	top: 2px;
	width: 30px;
}
input[type='checkbox']:checked + span {
	background-color: #ed1e12;
	border-color: #ed1e12;
}
.checkbox span:nth-child(3) {
	margin-left: 4rem;
}
.checkbox label {
	font-size: 24px;
	height: 24px;
	padding: 0 !important;
}