/*
 * MAIN STYLES
 * * * * * * * * * * */
/* Import Google Fonts font, 'Open Sans' */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* Selector voor alles */
/* box-sizing: border-box is belangrijk voor de positionering. Outline moet overal 0 zijn. Alles moet geanimeerd worden over 0.3 seconde */
* {
	box-sizing: border-box;
	outline: 0;
	transition: all 0.3s;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fafafa;
    /* Genoeg fallback fonts als er een font ontbreekt op de client */
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	padding-top: 150px;
}
html {
	height: 100%;
}
body {
	height: 100%;
	position: relative;
}

/*
 * NAVIGATION
 * * * * * * * * * * */
nav {
    background-color: #ed1e12;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 10;
}
nav .container,
nav .container-fluid {
	padding: 0;
}
nav button {
	background-color: #ed1e12;
	border: none;
	color: #fff;
	height: 150px;
	margin: 0 !important;
	outline: none;
	position: relative;
	transition: width 0s !important;
	width: 25%;
}
nav button:hover {
	background-color: #d51b10;
}
nav button>* {
	left: 0;
	position: absolute;
	width: 100%;
}
nav button .fa {
	font-size: 5rem;
	top: 25%;
}
nav button p {
	font-size: 2rem;
	margin-top: 20px;
}
/* Media query op 550px */
/* Maak de button hoogte kleiner, maak het icoon groter en haal de tekst weg */
@media screen and (max-width: 550px) {
	body {
		padding-top: 100px;
	}
	nav button {
		height: 100px;
	}
	nav button .fa {
		font-size: 36px;
		top: 36px;
	}
	nav button p {
		opacity: 0;
	}
}

/*
 * CONTAINER
 * * * * * * * * * * */
/* Styles voor het ::before element van .container */
/* Deze styles zorgen ervoor dat de achtergrond van .container over de hele grootte van de pagina zichtbaar is.
   Om bugs tegen te gaan is de hoogte 200%, dit heeft geen effect op de scrollhoogte van de pagina, omdat het element fixed is.
*/
.container::before {
	background-color: #ddd;
	content: '';
	height: 200%;
	margin-left: -15px;
	position: fixed;
	top: 0;
	transition: all 0s;
	width: 100%;
	z-index: -1;
}
/* Enkele media queries voor .container */
/* Deze zijn nodig om de breedte van het ::before element van .container te matchen met de parent .container */
@media (min-width: 750px) {
	.container::before {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container::before {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container::before {
		width: 1170px;
	}
}

/*
 * BOOTSTRAP ADDITIONAL COLUMN
 * * * * * * * * * * */
@media screen and (max-width: 550px) {
	.col-tn-1  { width:  8.333333% !important; }
	.col-tn-2  { width: 16.666667% !important; }
	.col-tn-3  { width: 25% !important;        }
	.col-tn-4  { width: 33.333333% !important; }
	.col-tn-5  { width: 41.666667% !important; }
	.col-tn-6  { width: 50% !important;        }
	.col-tn-7  { width: 58.333333% !important; }
	.col-tn-8  { width: 66.666667% !important; }
	.col-tn-9  { width: 75% !important;        }
	.col-tn-10 { width: 83.333333% !important; }
	.col-tn-11 { width: 91.666667% !important; }
	.col-tn-12 { width: 100% !important;       }

	.col-tn-offset-1  { margin-left:  8.333333%; }
	.col-tn-offset-2  { margin-left: 16.666667%; }
	.col-tn-offset-3  { margin-left: 25%;        }
	.col-tn-offset-4  { margin-left: 33.333333%; }
	.col-tn-offset-5  { margin-left: 41.666667%; }
	.col-tn-offset-6  { margin-left: 50%;        }
	.col-tn-offset-7  { margin-left: 58.333333%; }
	.col-tn-offset-8  { margin-left: 66.666667%; }
	.col-tn-offset-9  { margin-left: 75%;        }
	.col-tn-offset-10 { margin-left: 83.333333%; }
	.col-tn-offset-11 { margin-left: 91.666667%; }
	.col-tn-offset-12 { margin-left: 100%;       }
}

/*
 * ERROR STYLES
 * * * * * * * * * * */
.error {
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    display: block;
	font-size: 20px;
	margin-bottom: 2rem;
	overflow: hidden;
	padding: 2.5rem 2rem;
	position: relative;
	width: 100%;
}
/* ::after element van .error */
/* Deze styles zorgen voor het kruisje rechtboven in een .error element */
.error::after {
	content: 'X';
	cursor: pointer;
	display: block;
	font-family: monospace;
	font-size: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.error.error-red {
	background-color: #ed1e12;
}
.error.error-green {
	background-color: #9cf259;
}
.error.error-hidden {
	height: 0;
	padding-bottom: 0;
	padding-top: 0;
}