/*
 * PLAATSVRAAG STYLES
 * * * * * * * * * * */
nav button {
	width: 100%;
}

/*
 * SELECT_SKILLS STYLES
 * * * * * * * * * * */
#select_skills {
	border-radius: 0;
	font-size: 24px;
	height: 60px;
	padding: 12px;
}
#select_skills_output {
	border-radius: 0;
	font-size: 24px;
	padding: 0;
}
#select_skills_output option {
	color: #222;
	padding-left: 1.5rem;
}
